/**
 * 变量、mixin、主题颜色及变量
 */
$theme-black:      #1C1C2F;  // 主题黑
$theme-gray:       #AEAEBD;  // 主题灰
$theme-red:        #E81515;  // 主题红
$theme-orange:     #FF9F00;  // 主题橙

$theme-bgc-black:  #303135; // 背景黑
$theme-bgc-gray:   #C5C5CB; // 背景灰
$theme-bgc-red:    #EF4C4C; // 背景红
$theme-bgc-orange: #FF9F00; // 背景绿
$theme-bgc-green:  #7ED321; // 背景橙

$page-bgc-gray:    #F1F1F7; // 页面的灰色背景
$theme-btn-gray:   #C5C5CB; // 按钮灰
